.logo {
  text-align: center;
  width: 150px;
  margin: auto;
  margin-top: 130px;
  border: 3px solid #5f9ad6;
  border-radius: 50%;
  padding: 20px;
  height: 150px;

  img {
    position: relative;
    top: 42px;
  }
}

h1 {
  color: #848484;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

mat-spinner {
  margin: auto;
  margin-top: 20px;
}

.visitor-info {
  text-align: center;

  button {
    margin: auto;
    height: 75px;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: normal;
  }
  mat-card {
    margin-top: 100px;

    mat-card-content {
      text-align: right;
    }
  }
}