<div>
  <div class="logo">
    <img src="assets/images/logo.png" alt="Gapsi.com.mx">
  </div>

  <mat-spinner *ngIf="loadingVisitor"></mat-spinner>

  <div class="visitor-info" *ngIf="visitor">
    <h1>Bienvenido {{visitor.welcome}}</h1>
    <button mat-raised-button color="primary" routerLink="/products">Continuar</button>
    <mat-card>
      <mat-card-content> {{visitor.version}}</mat-card-content>
    </mat-card>
  </div>
</div>