mat-card {
  text-align: center;
  width: 80% !important;
  cursor: move;
  img {
    width: 80%;
  }

  mat-card-content {
    border-top: 2px solid #e3e3e3;
    padding-top: 20px;

    .description {
      text-align: left;
    }
  }
}

.loading-products {
  text-align: center;
  mat-spinner {
    margin: auto;
  }
}

.no-products {
  text-align: center;
}

.name-and-price {
  min-height: 30px;
  #name {
    color: #929090;
    font-size: 22px;
    float: left;
  }

  #price {
    color: #0c95c4;
    font-size: 26px;
    float: right;
  }
}

.name-and-price::after {
  clear: both;
}

.example-viewport {
  height: 700px;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

mat-form-field {
  width: 100%;
}

.results {
  max-height: 700px;
  overflow: auto;
  text-align: center;
}

.mycart {
  min-height: 85px;
  max-width: 200px;
  margin: auto;
  border: 1px dashed gray;
  text-align: center; 
  margin-bottom: 40px; 
  span.help {
    color: #0c95c4;
    display: block;
  }

  mat-icon {
    font-size: 75px;
    height: 75px;
    width: 75px;
  }
}