
<div>
  <mat-form-field class="example-form-field">
    <mat-label>Ingresa un nombre de producto</mat-label>
    <input matInput type="text" [(ngModel)]="nameProduct">
    <button mat-button *ngIf="nameProduct" matSuffix mat-icon-button aria-label="Clear" (click)="numberPage = 1; findProducts()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div cdkDropListGroup>
    <div class="mycart" cdkDropList [cdkDropListData]="cart" (cdkDropListDropped)="drop($event)" [matBadge]="cart.length" matBadgeColor="accent">
      <mat-icon>shopping_cart</mat-icon>
      <span class="help">arrastra aquí tus productos</span>
    </div>

    <div class="loading-products" *ngIf="loadingProducts">
      <mat-spinner></mat-spinner>
    </div>
    <div class="results" *ngIf="products.length > 0">
      <mat-grid-list cols="3" rowHeight="1:1" cdkDropList [cdkDropListData]="products" (cdkDropListDropped)="drop($event)">
        <mat-grid-tile *ngFor="let product of products" cdkDrag>
          <mat-card>
            <img mat-card-image src="{{product.IMAGE}}" alt="{{product.NAME}}">
            <mat-card-content> 
              <div class="name-and-price">
                <span id="name">{{product.NAME}}</span>
                <span id="price">{{product.PRICE | currency}}</span>
              </div>
              <div class="description">
                {{product.DESCRIPTION}}
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-button *ngIf="canLoadMore" matSuffix mat-icon-button aria-label="Clear" (click)="numberPage = numberPage + 1; findProducts(true)">
        <div *ngIf="loadingMore">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!loadingMore">
          <span>Cargar más productos</span> <br>
          <mat-icon>add</mat-icon>
        </div>
      </button>
    </div>
  </div> 
</div>