<mat-card class="card-content">
  <mat-card-header>
    <img src="assets/images/logo.png" alt="Gapsi.com.mx">
    <h1>e-Commerce Gapsi</h1>
    <button mat-fab [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/welcome">
        <mat-icon>autorenew</mat-icon>
        <span>Reiniciar</span>
      </button>
    </mat-menu>
  </mat-card-header>
  
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
  
</mat-card>
