.card-content {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  // height:90%;
}

mat-card {
  padding: 0px;
  mat-card-header {
    background: #efefef;
    padding: 16px 8px;
    height: 60px;

    h1 {
      line-height: 60px;
      margin-bottom: 0px;
      vertical-align: middle;
    }

    button {
      position: absolute;
      right: 16px;
    }
  }
  mat-card-content {
    padding: 16px
  }
}